<style type="text/css">
    .int-recirc {
        max-width: 800px;
        margin: 0px auto 0px auto;
        font-family: "CNN", helvetica, arial, sans-serif;
        background: white;
        padding: 5px 10px;
    }
    
    .int-recirc .int-sm {
        display: none;
    }
    
    .int-recirc .int-xl {
        display: block;
    }
    
    .int-recirc .int-banner img {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
 
     .int-recirc .int-banner-bottom img {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .int-recirc .int-card-link {
        width: 49%;
        margin-bottom: 5px;
        float: left;
        vertical-align: middle;
        margin-right: 1%;
    }
    
    .int-recirc .int-card-link-last {
        margin-left: 1%;
        margin-right: 0%;
    }
    
    .int-recirc .clear {
        clear: both;
    }
    
    .int-recirc p {
        margin: 5px 0px 0px 0px;
    }
    
    .int-recirc a {
        text-decoration: none;
        color: #888;
    }
    
    .int-recirc a:hover {
        color: black;
    }
    
    @media screen and (max-width: 768px) {
        .int-recirc .int-sm {
            display: block;
        }
        .int-recirc .int-xl {
            display: none;
        }
        .int-recirc .int-card-link {
            width: 100%;
            margin-bottom: 10px;
            float: none;
            margin-right: 0%;
        }
        .int-recirc .int-card-link-last {
            margin-left: 0%;
        }
        .int-recirc .int-adjust-txt {
            width: auto;
            margin: 0px auto 26px auto;
        }
    }
    
    @media screen and (min-width: 480px) and (max-width: 768px) {
        .int-recirc .int-card-link {
            width: 49%;
            margin-bottom: 20px;
            float: left;
            vertical-align: middle;
            margin-right: 1%;
        }
        .int-recirc .int-card-link-last {
            margin-left: 1%;
            margin-right: 0%;
        }
    }
</style>
<div class="int-recirc">
    <div class="int-banner">
        <img src="http://www.cnn.com/interactive/2016/politics/how-to-become-a-delegate/assets/delegate-bar-new.png">
    </div>
    <div class="int-card-link">
        <a href="http://www.cnn.com/specials/politics/2016-delegate-tracker">
            <img src="http://www.cnn.com/interactive/2016/politics/how-to-become-a-delegate/assets/delegate-tracker.png" width="100%" />
            <p>2016 Delegate Tracker</p>
        </a>
    </div>
    <div class="int-card-link int-card-link-last">
        <a href="http://www.cnn.com/2016/03/16/politics/contested-convention-how-it-works-questions/">
            <img src="http://www.cnn.com/interactive/2016/politics/how-to-become-a-delegate/assets/contested-convention.gif" width="100%" />
            <p>Contested convention: 7 things you need to know</p>
        </a>
    </div>
    <div class="clear"></div>
    <div class="int-banner int-banner-bottom">
        <img src="http://www.cnn.com/interactive/2016/politics/how-to-become-a-delegate/assets/delegate-bar-new.png">
    </div>
</div>